*{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color:white;

}
#container{
    /*margin: 0px auto;*/
    margin-top: 200px;
    width:200px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    animation-name: traslado-container !important;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#post{
    padding: 10px;
}
#post > h1{
    background-color: turquoise;
    box-shadow: 2px 2px 3px rgb(50, 177, 164);
    padding: 5px;
}
#post > p{
    background-color: turquoise;
    box-shadow: 2px 2px 3px rgb(50, 177, 164);
    padding: 5px;
}
@keyframes traslado-container{
    0%{
        margin-left: 20px;
    }
    50%{
        margin-left: 900px;
        transform: rotate(360deg);
    }
    100%{
        margin-left: 20px;
    }
}
